body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #333;
    margin: 0;
}

.converter, .results {
    margin-top: 20px;
}

.converter input, .converter select, .results input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result {
    margin-top: 10px;
}

.result label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.result input {
    background-color: #f9f9f9;
}
